[Unit]
Description=XPartaMuPP Pyrogenesis/0 A.D. Lobby Bot %i
Documentation=https://trac.wildfiregames.com/
After=network.target ejabberd.service

[Service]
Type=exec
User={{ bot.name }}
Environment=PATH={{ lobby_bots_base_dir }}/{{ bot.name }}/code/bin
ExecStart=python3 {{lobby_bots_base_dir }}/{{ bot.name }}/code/bin/xpartamupp \
          --config-file {{ lobby_bots_config_dir }}/{{ bot.name }}.toml
Restart=on-failure

NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
SystemCallArchitectures=native
SystemCallFilter=access arch_prctl brk close connect epoll_create1 epoll_ctl epoll_pwait epoll_wait
SystemCallFilter=faccessat fchmod fcntl fdatasync futex getcwd getdents64 geteuid
SystemCallFilter=getpeername getpid getrandom getsockname getsockopt gettid ioctl lseek mmap
SystemCallFilter=mprotect mremap munmap newfstatat openat pread64 prlimit64 pwrite64 read readlink
SystemCallFilter=readlinkat recvfrom rseq rt_sigaction rt_sigprocmask sendto set_robust_list
SystemCallFilter=setsockopt set_tid_address socket socketpair sysinfo uname unlink write

[Install]
WantedBy=multi-user.target
